<?xml version="1.0" encoding="UTF-8"?>
    <!DOCTYPE html
        PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
    <html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">

    <head>
        <meta http-equiv="content-type" content="text/html; charset=utf-8" />
        <title>留言簿</title>
        <link rel="stylesheet" href="//cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.min.css">
        <link rel="stylesheet" href="//cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}">
    </head>
    <body>
        <div id="main" class="container">
            <h1>留言簿</h1>
            <form>
                <div class="form-group">
                    <textarea id="nametext" class="form-control status-box" rows="1" placeholder="what's your name?"></textarea>
                    <textarea id="contenttext" class="form-control status-box" rows="3" placeholder="what's on your mind?"></textarea>
                </div>
            </form>
            <div class="button-group ">
                <p class="counter">140</p>
                <a href="#" class="btn btn-primary">Post</a>
            </div>
            <br>
            <br>
            <div class="line">留言历史信息</div>
            <ul class="posts">
                <div id="entries-area" class="row">
                    <div class="entry">
                        {% for greeting in greeting_list%}
                        <h3>{{greeting.name}}
                留言于({{greeting.create_at}}:)</h3>
                        <p>{{greeting.comment}}</p>
                        {% endfor %}
                    </div>
                </div>
            </ul>
        </div>
        <script src="//cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>
        <script src="//cdn.bootcss.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='js/main.js') }}"></script>
    </body>

    </html>
